<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Basic Practice" parallel="classes" thread-count="2">
<listeners>
<listener class-name="TestNGFramwork.TestNGSevenPm.ListenersDemo"></listener>
</listeners>
	<test thread-count="5" name="Demo - Test - Run">
		<classes>
			<class name="TestNGFramwork.TestNGSevenPm.SeleniumAnnotationsDemo" />
			<class name="TestNGFramwork.TestNGSevenPm.AnnotationsPractice" />
			<class name="TestNGFramwork.TestNGSevenPm.PrioritizingTheTestCases" />
			<class name="TestNGFramwork.TestNGSevenPm.DayOne" />
			<class name="TestNGFramwork.TestNGSevenPm.Dummy"></class>
		</classes>
	</test>
</suite>
